.mainContainer {
    position: relative;
}

.header {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 40%;
    z-index: 999;
    display: flex;
    gap: 16px;
    align-items: center;
}

.header>div {
    width: 100%;
}